<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Verdure - Gardening ;</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/alazea-gh-pages/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/static/alazea-gh-pages/style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="/static/alazea-gh-pages/img/core-img/leaf.png" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="verdure@gmail.com"><i
                                        class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email:
                                        verdure@gmail.com</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i
                                        class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +1 234 122
                                        122</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                <!-- Login -->
                                <div class="login">
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'usersignout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Logout</span></a>
                                    {% else %}
                                        <a href="{% url 'signin' %}"><i class="fa fa-user" aria-hidden="true"></i> <span>Login</span></a>
                                    {% endif %}

                                    
                                </div>
                                <!-- Cart -->
                                <div class="cart">
                                    <a href="{% url 'cart:carts' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart <span
                                                class="cart-quantity">()</span></span></a>
                                </div>
                            <div class="login ml-3">
                                {% if user.is_authenticated %}
                                        <a href=""><i class="fa fa-sign-out" aria-hidden="true"></i> <span>My Profile</span></a>
                                {% endif %}    
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="/static/alazea-gh-pages/index.html" class="nav-brand"><img
                                src="/static/alazea-gh-pages/img/core-img/logo3.png" height="300" width="300" alt=""></a>
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'welcome' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'welcome' %}">Home</a></li>
                                            <li><a href="{% url 'about' %}">About</a></li>
                                            <li><a href="{% url 'productlist' %}">Shop</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'productlist' %}">Shop</a></li>
                                                    <li><a href="{% url 'productlist' %}">Shop Details</a></li>
                                                    <li><a href="{% url 'cart:carts' %}">Shopping Cart</a></li>
                                                    <li><a href="">Checkout</a></li>
                                                </ul>
                                            </li>
                                           
                                           
                                            <li><a href="{% url 'getintouch' %}">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'productlist' %}">Shop</a></li>
                                    <li><a href="{% url 'getintouch' %}">Contact</a></li>
                                </ul>


                                <!-- Search Icon -->
                                <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search"
                                placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
            style="background-image:  url(/static/alazea-gh-pages/img/bg-img/24.jpg);">
            <h2>My Profile</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
    <div class="container-fluid">
            <div class="col text-right">
                <img src="{% if profic_pic %}{{ profile_pic.profile_pic.url }}{% else %}/static/image/download0.png{% endif %}" alt="Profile Picture" class="profile-picture">
                <h5>{{ user.name }}</h5>
                <p>{{ user.email }}</p>
        </div>
    </div>

                            {% comment %} address add fields {% endcomment %}
                              <div class="col-md-9 container-fluid" style="border: solid 1px #000;">
                                <section class=" gradient-custom" >
                                    <div class="container py-5 ">
                                    <h6 class="mb-2 text-primary"> My Orders</h6>
                                    {% for order in order %}
                                      <div class="row d-flex justify-content-center align-items-center h-100 " style="border: #000 solid 1px;">
                                        <div class="" style="width: 100%;">
                                          <div class="" style=" width:100%; border-radius: 10px; border:#000 solid 1px" >
                                            <div class="card-body p-4">
                                              <div class="d-flex justify-content-between align-items-center mb-4">
                                                <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                                                <p class="small text-muted mb-0">Receipt Voucher : </p>
                                              </div>
                                              {% for items in order.orderitems_set.all %}
                                              <div class="card shadow-0 border mb-4">
                                                <div class="card-body">
                                                  <div class="row">
                                                   
                                                    <div class="col-md-2">
                                                      <img src="{{items.product.image.url}}"
                                                        class="img-fluid" alt="Phone">
                                                    </div>
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                      <p class="text-muted mb-0">{{items.product.product_name}}</p>
                                                    </div>
                                                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                                                      <p class="text-muted mb-0 small">{{items.product_size.size}}</p>
                                                    </div>
                                                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                                                      <p class="text-muted mb-0 small">Qty: {{items.quantity}}</p>
                                                    </div>
                                                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                                                      <p class="text-muted mb-0 small">${{items.amount}}</p>
                                                    </div>
                                                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small">{{ items.order_status }}</p>
                                                    </div>
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                       <form action="{% url 'checkout:cancelorder' items.id %}" method="post">
                                                          {% csrf_token %}
                                                          {% if items.delivery_status|lower != 'Delivered' and items.order_status|lower != 'Cancelled' %}
                                                       <button type="submit" class="btn btn-danger">Cancel</button>
                                                       {% endif %}
                                                        </form>
                                                    </div>
                                                  </div>
                                                  {% endfor %}
                                                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                                  <div class="row d-flex align-items-center">
                                                    <div class="col-md-2">
                                                      <p class="text-muted mb-0 small">Track Order</p>
                                                    </div>
                                                    <div class="col-md-10">
                                                      <div class="progress" style="height: 6px; border-radius: 16px;">
                                                        <div class="progress-bar" role="progressbar"
                                                          style="width: 65%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                                                          aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                      <div class="d-flex justify-content-around mb-1">
                                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivary</p>
                                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              
                                              
                                              <div class="d-flex justify-content-between pt-2">
                                                <p class="fw-bold mb-0">Order Details</p>
                                                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span>{{order.total_mrp}}</p>
                                              </div>
                                  
                                              <div class="d-flex justify-content-between pt-2">
                                                <p class="text-muted mb-0">Invoice Number : {{order.order_id}}</p>
                                                <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> ${{order.offer_price}}</p>
                                              </div>
                                  
                                              <div class="d-flex justify-content-between">
                                                <p class="text-muted mb-0">Invoice Date : {{order.order_date}}</p>
                                                <p class="text-muted mb-0"><span class="fw-bold me-4"></span></p>
                                              </div>
                                  
                                              <div class="d-flex justify-content-between mb-5">
                                                <p class="text-muted mb-0"></p>
                                                <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> {{order.delivery_charge}}</p>
                                              </div>
                                            </div>
                                            <div class="card-footer border-0 px-1 py-1"
                                              style="background-color: #a8729a; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
                                              <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                                                paid: <span class="h2 mb-0 ms-2">{{order.payment_amount}}</span></h5>
                                            </div>
                                          </div>
                                          {% endfor %}
                                        </div>
                                      </div>
                                    </div>
                                  </section>

                                  </div>                
        </div>
    </div>
    <script>
        function loadAvatar(event) {
          var reader = new FileReader();
          reader.onload = function() {
            var avatarImg = document.getElementById('avatar-img');
            avatarImg.src = reader.result;
          };
          reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    
                   

          






      <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(/static/alazea-gh-pages/img/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="#"><img src="/static/alazea-gh-pages/img/core-img/logo3.png" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="#">Purchase</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Payment</a></li>
                                    <li><a href="">News</a></li>
                                    <li><a href="#">Return</a></li>
                                    <li><a href="#">Advertise</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Orders</a></li>
                                    <li><a href="#">Policities</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Address:</span>MAIN ROAD CHALAKUDY</p>
                                <p><span>Phone:</span> +1 234 122 122</p>
                                <p><span>Email:</span> info.verdure@gmail.com</p>
                                <p><span>Open hours:</span> Mon - Saturday: 8 AM to 9 PM</p>
                                <p><span>Happy hours:</span> Sat: 2 PM to 4 PM</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-sm-6 col-lg-3 mt-5">
                    <div class="single-footer-widget mt-5">
                        <div class="social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                        </div>
                    </div>
                    <!-- Footer Nav -->
                    <div class="col-12 col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Shop</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->


        <!-- ##### All Javascript Files ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="/static/alazea-gh-pages/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="/static/alazea-gh-pages/js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="/static/alazea-gh-pages/js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="/static/alazea-gh-pages/js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="/static/alazea-gh-pages/js/active.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>


</body>

</html>